*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;

}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    margin: 0;
    padding:0;
}

.instagram{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    min-height: 100vh;
}


.instagram-celular-foto{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;    
}

.instagram-celular-foto img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid grey;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-picture{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture img{
    height:6rem;
}

.login{
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.logout{
    color: #0095f6;
    margin-top: 1rem;
}


.not-account{
    color: rgb(160,160,160);
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('img/apple-button.png');
}
.app-download:nth-child(2){
    background-image: url('img/googleplay-button.png')
}




@media (max-width: 1024px){
    .instagram{
        width: 90%;
    }
}

@media(max-width: 800px){
    .download{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:700px){
    body{
        background-color: #fff;
    }



    .instagram{
        width: 90%;
    }   
    .instagram-celular-foto{
        display:none;

    }
    .instagram-continue{
    width: 100%;
    }

    .group{
        border: 1px solid #fff;
    }
}